{
    "singleQuote": false,
    "semi": true,
    "tabWidth": 2,
    "plugins": [
      "prettier-plugin-tailwindcss"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
      "^@assets/(.*)$",
      "<THIRD_PARTY_MODULES>",
      "^@/(.*)$",
      "^[./]"
    ]
  }